<% if (!requestSuggestions.length) { %>
<span>We searched, but found nothing.</span>
<span>Maybe you don't have <%=api%> configs? 👀</span>
<a class="link" href="https://github.com/siberiacancode/mock-config-server#configs" rel="noopener noreferrer" target="_blank">
  Read documentation📘 for more information
</a>
<% } else { %>
<span>We searched a bit, maybe this will help you:</span>
<% requestSuggestions.forEach((requestSuggestions) => { %>
<span><%= decodeURIComponent(requestSuggestions.method.toUpperCase()) %> <%=
  decodeURIComponent(requestSuggestions.path) %></span>
<% })} %>