:root {
  color-scheme: light;
  --accent: rgb(149 155 255);
  --accent-glass: rgb(149 155 255 / 50%);
  --primary: #343434;
  --primary-glass: rgba(52 52 52 / 70%);
  --shadow: 0px 4px 10px rgba(0 0 0 / 15%);
  --background-body: #e4e5ef;
  --background-container: rgba(255 255 255 / 75%);
  --background-card: rgba(255 255 255 / 75%);
  --image-scheme: url('/assets/icons/scheme-light.svg');
}
