.header {
  display: flex;
  width: 100%;
  justify-content: center;
  backdrop-filter: blur(20px);
  background-color: var(--background-container);
}

.header_content {
  display: flex;
  width: 800px;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  padding-inline: 75px;
}

.header_menu {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header_menu_item {
  display: flex;
  height: 25px;
  align-items: center;
  justify-content: center;
  color: var(--primary-glass);
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  gap: 10px;
  line-height: 17px;
}

.header_menu_item:hover {
  color: var(--primary);
}

.logo img {
  height: 30px;
  margin-right: 5px;
}

li {
  list-style-type: none;
}

.scheme_switcher {
  width: 22px;
  height: 22px;
  background-image: var(--image-scheme);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.scheme_switcher_radio_group_item {
  display: flex;
  width: 80px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  gap: 10px;
  padding-inline: 15px;
}

.scheme_switcher_radio_group_item.active,
.scheme_switcher_radio_group_item.active:hover {
  background-color: var(--accent);
}

.scheme_switcher_radio_group_item:hover {
  background-color: var(--accent-glass);
}
