<div class="header">
  <div class="header-body">
    <a href="/">
      <div style="gap: 5px" class="header-menu-item">
        <img style="height: 30px" src="/images/logo.png" />
        <svg width="41" height="9" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12.04 8.5C11.9067 8.5 11.7867 8.45333 11.68 8.36C11.5867 8.25333 11.54 8.13333 11.54 8V3.8C11.54 3.01333 11.38 2.46 11.06 2.14C10.7533 1.82 10.3533 1.66 9.86 1.66C9.36667 1.66 8.88667 1.8 8.42 2.08C7.95333 2.36 7.52667 2.71333 7.14 3.14V8C7.14 8.13333 7.09333 8.25333 7 8.36C6.90667 8.45333 6.78667 8.5 6.64 8.5C6.50667 8.5 6.38667 8.45333 6.28 8.36C6.18667 8.25333 6.14 8.13333 6.14 8V3.8C6.14 3.01333 5.98 2.46 5.66 2.14C5.35333 1.82 4.95333 1.66 4.46 1.66C3.96667 1.66 3.48 1.81333 3 2.12C2.52 2.41333 2.08667 2.77333 1.7 3.2V8C1.7 8.13333 1.65333 8.25333 1.56 8.36C1.46667 8.45333 1.34667 8.5 1.2 8.5C1.06667 8.5 0.946667 8.45333 0.84 8.36C0.746667 8.25333 0.7 8.13333 0.7 8V1.16C0.7 1.01333 0.746667 0.893333 0.84 0.8C0.946667 0.706666 1.06667 0.66 1.2 0.66C1.34667 0.66 1.46667 0.706666 1.56 0.8C1.65333 0.893333 1.7 1.01333 1.7 1.16V1.84C2.12667 1.49333 2.57333 1.21333 3.04 0.999999C3.50667 0.773333 3.98 0.66 4.46 0.66C4.98 0.66 5.45333 0.753333 5.88 0.94C6.30667 1.12667 6.63333 1.49333 6.86 2.04C7.31333 1.62667 7.79333 1.29333 8.3 1.04C8.82 0.786666 9.34 0.66 9.86 0.66C10.3533 0.66 10.8 0.746666 11.2 0.92C11.6 1.09333 11.92 1.40667 12.16 1.86C12.4133 2.3 12.54 2.94667 12.54 3.8V8C12.54 8.13333 12.4933 8.25333 12.4 8.36C12.3067 8.45333 12.1867 8.5 12.04 8.5ZM18.9791 0.579999C19.7924 0.579999 20.4924 0.766666 21.0791 1.14C21.6791 1.5 22.1391 1.99333 22.4591 2.62C22.7924 3.23333 22.9591 3.92 22.9591 4.68C22.9591 5.41333 22.7924 6.07333 22.4591 6.66C22.1391 7.24667 21.6791 7.71333 21.0791 8.06C20.4924 8.40667 19.7924 8.58 18.9791 8.58C18.1791 8.58 17.4791 8.40667 16.8791 8.06C16.2791 7.71333 15.8124 7.24 15.4791 6.64C15.1591 6.04 14.9991 5.37333 14.9991 4.64C14.9991 3.89333 15.1591 3.21333 15.4791 2.6C15.7991 1.98667 16.2591 1.5 16.8591 1.14C17.4591 0.766666 18.1657 0.579999 18.9791 0.579999ZM18.9791 1.58C18.3657 1.58 17.8324 1.72 17.3791 2C16.9391 2.28 16.5991 2.65333 16.3591 3.12C16.1191 3.57333 15.9991 4.08 15.9991 4.64C15.9991 5.46667 16.2657 6.16667 16.7991 6.74C17.3457 7.3 18.0724 7.58 18.9791 7.58C19.8857 7.58 20.6057 7.3 21.1391 6.74C21.6857 6.18 21.9591 5.49333 21.9591 4.68C21.9591 4.10667 21.8391 3.58667 21.5991 3.12C21.3591 2.65333 21.0124 2.28 20.5591 2C20.1191 1.72 19.5924 1.58 18.9791 1.58ZM30.6391 1.88C30.1591 1.73333 29.6924 1.66 29.2391 1.66C28.2257 1.66 27.4324 1.95333 26.8591 2.54C26.2991 3.11333 26.0191 3.85333 26.0191 4.76C26.0191 5.54667 26.2991 6.2 26.8591 6.72C27.4191 7.24 28.2057 7.5 29.2191 7.5C29.5924 7.5 29.9191 7.47333 30.1991 7.42C30.4791 7.35333 30.6991 7.29333 30.8591 7.24C31.0057 7.18667 31.0991 7.15333 31.1391 7.14C31.1924 7.12667 31.2324 7.12 31.2591 7.12C31.3924 7.12 31.5057 7.17333 31.5991 7.28C31.7057 7.37333 31.7591 7.48667 31.7591 7.62C31.7591 7.84667 31.6524 8 31.4391 8.08C31.1457 8.2 30.8124 8.3 30.4391 8.38C30.0791 8.46 29.6724 8.5 29.2191 8.5C28.3124 8.5 27.5457 8.33333 26.9191 8C26.2924 7.65333 25.8191 7.2 25.4991 6.64C25.1791 6.06667 25.0191 5.44 25.0191 4.76C25.0191 3.97333 25.1857 3.27333 25.5191 2.66C25.8524 2.03333 26.3324 1.54667 26.9591 1.2C27.5857 0.84 28.3457 0.66 29.2391 0.66C29.9191 0.66 30.5657 0.766666 31.1791 0.98C31.4057 1.06 31.5191 1.22667 31.5191 1.48C31.5191 1.6 31.4657 1.71333 31.3591 1.82C31.2524 1.91333 31.1324 1.96 30.9991 1.96C30.9591 1.96 30.8391 1.93333 30.6391 1.88ZM39.05 1.82C38.9167 1.78 38.6833 1.73333 38.35 1.68C38.03 1.62667 37.6767 1.6 37.29 1.6C36.6367 1.6 36.13 1.71333 35.77 1.94C35.41 2.16667 35.23 2.44667 35.23 2.78C35.23 3.07333 35.3767 3.31333 35.67 3.5C35.9767 3.67333 36.4767 3.79333 37.17 3.86L37.97 3.94C38.65 4.00667 39.1833 4.16 39.57 4.4C39.9567 4.64 40.23 4.92667 40.39 5.26C40.55 5.58 40.63 5.92 40.63 6.28C40.63 6.64 40.5367 7 40.35 7.36C40.1633 7.70667 39.8367 8 39.37 8.24C38.9167 8.46667 38.2633 8.58 37.41 8.58C36.9167 8.58 36.41 8.53333 35.89 8.44C35.37 8.33333 34.8767 8.18 34.41 7.98C34.21 7.88667 34.11 7.72667 34.11 7.5C34.11 7.38 34.1633 7.27333 34.27 7.18C34.3767 7.07333 34.4967 7.02 34.63 7.02C34.6567 7.02 34.7033 7.03333 34.77 7.06C34.8367 7.08667 34.9567 7.13333 35.13 7.2C35.3833 7.29333 35.7167 7.38 36.13 7.46C36.5433 7.54 36.97 7.58 37.41 7.58C38.13 7.58 38.6767 7.46 39.05 7.22C39.4367 6.96667 39.63 6.65333 39.63 6.28C39.63 5.93333 39.4967 5.64 39.23 5.4C38.9633 5.14667 38.5167 4.99333 37.89 4.94L37.09 4.86C36.3033 4.78 35.7033 4.63333 35.29 4.42C34.8767 4.19333 34.5967 3.93333 34.45 3.64C34.3033 3.34667 34.23 3.05333 34.23 2.76C34.23 2.42667 34.3167 2.1 34.49 1.78C34.6767 1.44667 34.99 1.16667 35.43 0.94C35.8833 0.713333 36.5033 0.6 37.29 0.6C37.7433 0.6 38.1633 0.633333 38.55 0.7C38.95 0.753333 39.3033 0.826667 39.61 0.92C39.7167 0.933333 39.8033 0.993333 39.87 1.1C39.9367 1.19333 39.97 1.29333 39.97 1.4C39.97 1.54667 39.9167 1.66667 39.81 1.76C39.7167 1.85333 39.6033 1.9 39.47 1.9C39.39 1.9 39.25 1.87333 39.05 1.82Z"
            fill="currentColor" />
        </svg>
      </div>
    </a>
    <div class="header-menu-container">
      <a href="https://github.com/siberiacancode/mock-config-server" target="_blank">
        <div class="header-menu-item">
          <svg width="21" height="20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10.5613 0C5.03628 0 0.561279 4.59118 0.561279 10.2539C0.561279 14.7853 3.42628 18.6279 7.39878 19.9823C7.89878 20.0788 8.08211 19.7618 8.08211 19.4892C8.08211 19.2457 8.07378 18.6006 8.06961 17.7461C5.28795 18.3647 4.70128 16.3703 4.70128 16.3703C4.24628 15.1869 3.58878 14.8707 3.58878 14.8707C2.68295 14.235 3.65878 14.2478 3.65878 14.2478C4.66295 14.3196 5.19045 15.3039 5.19045 15.3039C6.08211 16.8719 7.53128 16.4191 8.10295 16.1567C8.19295 15.4936 8.45045 15.0416 8.73628 14.7853C6.51545 14.5289 4.18128 13.6471 4.18128 9.71813C4.18128 8.59875 4.56878 7.68444 5.21045 6.96667C5.09795 6.70776 4.76045 5.66528 5.29795 4.2528C5.29795 4.2528 6.13545 3.97766 8.04795 5.30383C8.84795 5.07568 9.69795 4.96289 10.5479 4.95776C11.3979 4.96289 12.2479 5.07568 13.0479 5.30383C14.9479 3.97766 15.7854 4.2528 15.7854 4.2528C16.3229 5.66528 15.9854 6.70776 15.8854 6.96667C16.5229 7.68444 16.9104 8.59875 16.9104 9.71813C16.9104 13.6573 14.5729 14.5246 12.3479 14.7767C12.6979 15.0843 13.0229 15.7132 13.0229 16.6737C13.0229 18.046 13.0104 19.1483 13.0104 19.4816C13.0104 19.7507 13.1854 20.0711 13.6979 19.9686C17.6988 18.6236 20.5613 14.7784 20.5613 10.2539C20.5613 4.59118 16.0838 0 10.5613 0Z"
              fill="currentColor" />
          </svg>
          <span>github</span>
        </div>
      </a>
      <a href="https://github.com/siberiacancode/mock-config-server/issues" target="_blank">
        <div class="header-menu-item">
          <svg width="17" height="17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M14.9613 0.5H2.16128C1.28128 0.5 0.569279 1.22 0.569279 2.1L0.561279 16.5L3.76128 13.3H14.9613C15.8413 13.3 16.5613 12.58 16.5613 11.7V2.1C16.5613 1.22 15.8413 0.5 14.9613 0.5ZM6.16128 7.7H4.56128V6.1H6.16128V7.7ZM9.36128 7.7H7.76128V6.1H9.36128V7.7ZM12.5613 7.7H10.9613V6.1H12.5613V7.7Z"
              fill="currentColor" />
          </svg>
          <span>issues</span>
        </div>
      </a>
      <div class="header-menu-item">
        <div class="theme-switcher" onclick="switchScheme()"></div>
      </div>
    </div>
  </div>
</div>