.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--background-container);
  backdrop-filter: blur(20px);
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 75px;
  gap: 25px;
  height: 60px;
  width: 800px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.header-menu-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}

.logo img {
  height: 30px;
  margin-right: 5px
}

li {
  list-style-type: none;
}