{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["airbnb-base", "airbnb-typescript/base", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      }
    }
  ],
  "plugins": ["@typescript-eslint", "simple-import-sort", "prettier"],
  "rules": {
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "off",
    "require-await": "off",
    "@typescript-eslint/require-await": "error",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          ["^"],
          ["^@"],
          ["^\\u0000"],
          ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
          ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
          ["^.+\\.s?css$"]
        ]
      }
    ],
    "simple-import-sort/exports": "error"
  },
  "ignorePatterns": ["jest.config.js", "mock-server.config.js"]
}
