.tab_triggers {
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 20px;
  background: var(--background-container);
  font-size: 14px;
  gap: 4px;
  line-height: 17px;
}

.tab_trigger {
  display: flex;
  width: 120px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
}

.tab_trigger:not(.tab_trigger.active):hover {
  background-color: var(--accent-glass);
}

.tab_trigger.active {
  background: var(--accent);
}

.tab_content {
  display: none;
}

.tab_content.active {
  display: unset;
}
