.tab-items {
  align-items: center;
  background: var(--background-container);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 300;
  gap: 4px;
  line-height: 17px;
  padding: 3px;
}

.tab-item {
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 120px;
}

.tab-item:not(.tab-item-active):hover {
  background-color: var(--accent-glass);
}

.tab-content {
  display: none;
}
