.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
}

.dropdown_content,
.dropdown_content_active {
  position: absolute;
  z-index: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  background-color: var(--background-card);
  box-shadow: var(--shadow);
  gap: 10px;
  transform: translateY(25%);
}

.dropdown_content_active {
  display: flex;
}
