.tab-items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px;

  gap: 4px;

  background: var(--background-container);
  border-radius: 20px;

  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.tab-item {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  width: 120px;

  border-radius: 20px;

  cursor: pointer;
}

.tab-item:not(.tab-item-active):hover {
  background-color: var(--accent-glass);
}

.tab-content {
  display: none;
}
