<div class="tab-items-container">
  <% Object.values(itemVariants).forEach((variant) => { %>
  <div id="tab-item-<%=variant%>" class="tab-item">
    <span><%=variant%></span>
  </div>
  <% }) %>
</div>