body {
  --accent: #6972ff;
  --accent-glass: rgb(105, 114, 255, 0.5);

  --background-body: #363942;
  --background-container: rgba(0, 0, 0, 0.15);
  --background-card: rgba(255, 255, 255, 0.05);

  --primary: #ffffff;
  --primary-glass: rgba(255, 255, 255, 0.7);

  --shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.theme-switcher {
  --theme-image: url('/images/theme-dark.svg');
}
