:root {
  color-scheme: light dark;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-body);
  color: var(--primary);
}

svg {
  color: var(--primary-glass);
}

a {
  color: var(--primary);

  text-decoration-line: none;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: var(--primary);

  text-decoration-line: underline;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  height: 50px;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.title img {
  height: 50px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  font-weight: 200;
  font-size: 14px;
  line-height: 17px;
}

.margin-container {
  display: flex;
  justify-content: center;

  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;

  gap: 10px;

  margin-top: 100px;
  margin-bottom: 100px;
  padding-inline: 75px;

  width: 800px;
}

.body {
  display: flex;
  flex-direction: column;

  gap: 20px;

  padding-inline: 75px;

  width: 800px;
}

.body-head {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
}
